{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="intro">
                <h2 class="text-center">{{lesson.title}}</h2>
                <p class="text-center"><b> Description :</b> {{lesson.description}}
                 Niveau:<b> {{lesson.level}}</b>) &nbsp;</p>
    </div>




		<div class="row" >
                
                <div class="col-md-6" style="margin-left:-77px;margin-top: 10px ">
                   <img src="{{lesson.image}}" alt="">
                

                </div>
                

                <div class="col-md-6"  >

                        {% for questions in question %}
                        {{questions | raw}}

                        {% endfor %}
            

                  
						 

			                       </div>
							</div>

                </div>
            
            
           
                            
                             
                {% endblock %}